@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.name {
  font-size: clamp(18px, 3.5vw, 30px);
  font-weight: 500;
}

.title {
  font-size: clamp(50px, 8vw, 100px);
  font-weight: 600;
  letter-spacing: -4px;

  @media (min-width: $layout-breakpoint-xlarge) {
    font-size: clamp(80px, 6.5vw, 100px);
  }
}

.cta__text {
  transition: 0.3s;
  font-size: clamp(16px, 3.5vw, 24px);
}
