.aboutpage {
  position: relative;
  @include paddingX;
  padding-top: clamp(64px, 10vw, 164px);
  padding-bottom: clamp(64px, 10vw, 164px);

  h1 {
    font-size: clamp(50px, 8vw, 100px);
    font-weight: 600;
    letter-spacing: -4px;

    @media (min-width: $layout-breakpoint-xlarge) {
      font-size: clamp(80px, 6.5vw, 100px);
    }
  }
}

.description__wrapper {
  display: flex;
  justify-content: right;

  .description__inside {
    max-width: clamp(440px, 75vw, 900px);
    text-align: left;

    .techs__wrapper {
      margin-top: 50px;
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;

      @media (min-width: $layout-breakpoint-medium) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: $layout-breakpoint-large) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .techs {
        text-align: left;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: clamp(16px, 4vw, 24px);
      }
    }
  }

  p {
    $margin: clamp(30px, 10vh, 80px);
    margin: $margin 0 0 0;
    text-align: left;
    font-size: clamp(18px, 4vw, 30px);
    line-height: 150%;

    a {
      color: rgb(4, 4, 138);
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: rgb(4, 4, 138);
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &:nth-of-type(2) {
      margin: 70px 0 0 0;
    }
  }
}
