.work {
  @include paddingX;

  &__title {
    font-size: clamp(52px, 5vw, 100px);
    text-align: center;
    font-weight: 500;
  }

  &__container {
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 50px;

    @media (min-width: $layout-breakpoint-medium) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
      margin: 60px 0 0 0;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 200px 0;
  align-items: center;
}

.row--2 {
  @media (min-width: $layout-breakpoint-medium) {
    margin-top: 200px;
  }
}

.project {
  width: 100%;
  max-width: 400px;

  @media (min-width: $layout-breakpoint-small) {
    max-width: 380px;
  }

  @media (min-width: $layout-breakpoint-medium) {
    max-width: initial;
  }

  &__imageholder {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
  }

  &__description {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 20px;
      font-weight: 500;
    }

    .whatidid {
      margin: 6px 0 0 0;
      display: flex;
      opacity: 80%;
      gap: 0 8px;

      h2 {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
  .iconholder {
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:after {
      position: absolute;
      content: "";
      background-color: black;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      left: -100%;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover::after {
      left: 0;
    }

    &:hover .icon {
      color: white;
    }

    @media (min-width: $layout-breakpoint-medium) {
      padding: 10px;
    }

    .icon {
      @media (min-width: $layout-breakpoint-medium) {
        width: 24px;
        height: 24px;
        z-index: 20;
      }
    }
  }
}
